// VARIABLES ==============================================
@black: #1a1b1f;
@purple-primary: #8337ff;

// FONTS ==================================================

@font-face {
  font-family: Fungis Regular;
  src: url("./fonts/FUNGIS/FUNGIS\ Regular.ttf") format("truetype");
}

@font-face {
  font-family: Fungis Bold;
  src: url("./fonts/FUNGIS/FUNGIS\ Bold.ttf") format("truetype");
}

@font-face {
  font-family: Fungis Heavy;
  src: url("./fonts/FUNGIS/FUNGIS\ Heavy.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  overscroll-behavior: none;
  height: 100vh;
}

nav {
    position: fixed;
    left: 30px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 60px;
    height: 92vh;
    align-self: center;
    backdrop-filter: blur(10px);

    & .burger-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        height: 60px;
        background-color: rgba(255, 255, 255, 0.3);

        &-bar {
            width: 50%;
            height: 2px;
            background-color: white;
        }
    }
  }

    & .nav-title {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 65%;
        background-color: rgba(255, 255, 255, 0.3);

        & a {
            flex-shrink: 0;
            font-family: Fungis Regular;
            font-size: 24px;
            text-decoration: none;
            color: white;
            transform: rotate(-90deg);
        }
    }
  }

    & .nav-author {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        height: 23%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.3);

        &_dot {
            width: 6px;
            height: 6px;
            background-color: @purple-primary;
        }

        &_text {
            font-family: Fungis Regular;
            font-size: 10px;
            transform: rotate(-90deg);
            flex-shrink: 0;
            color: white;
        }
    }
  }
}

main {
  overscroll-behavior: none;
  width: 700%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.section {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @black;
  border: 1px @black solid;

  & span {
    color: @purple-primary;
    font-family: "Fungis Heavy";
    font-size: 10em;
  }

  & .test-btn {
    color: white;
    align-self: flex-end;
    margin-bottom: 100px;
    background-color: @purple-primary;
    padding: 10px 40px;
    transition: ease 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      transition: ease 0.3s;
    }
  }
}

// .one {
//     background-color: #8337ff;
// }

// .two {
//     background-color: #8337ff;
//     filter: brightness(0.9);
// }

.three {
  background-color: #ffffff;
  filter: brightness(0.8);
}

// .four {
//     background-color: #8337ff;
//     filter: brightness(0.7);
// }

// .five {
//     background-color: #8337ff;
//     filter: brightness(0.6);
// }

// .six {
//     background-color: #8337ff;
//     filter: brightness(0.5);
// }
