@font-face {
  font-family: "Fungis Regular";
  src: url("./fonts/FUNGIS/FUNGIS\ Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Fungis Bold";
  src: url("./fonts/FUNGIS/FUNGIS\ Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Fungis Heavy";
  src: url("./fonts/FUNGIS/FUNGIS\ Heavy.ttf") format("truetype");
}
@font-face {
  font-family: "Graffiti City";
  src: url("./fonts/Graffiti-City/Graffiti\ City.otf") format("opentype");
}
@font-face {
  font-family: "Anonymous Regular";
  src: url("./fonts/Anonymous/AnonymousPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Anonymous Bold";
  src: url("./fonts/Anonymous/AnonymousPro-Bold.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
}
body {
  overscroll-behavior: none;
  height: 100vh;
  overflow-x: hidden;
  scrollbar-width: none;
}
nav {
  position: fixed;
  left: 30px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 60px;
  height: 92vh;
  align-self: center;
}
nav .burger-container {
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.3);
}
nav .burger-container-bar {
  width: 50%;
  height: 2px;
  background-color: white;
  mix-blend-mode: difference;
}
nav .nav-title {
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65%;
  background-color: rgba(255, 255, 255, 0.3);
}
nav .nav-title a {
  flex-shrink: 0;
  font-family: Fungis Regular;
  font-size: 24px;
  text-decoration: none;
  color: white;
  transform: rotate(-90deg);
  mix-blend-mode: difference;
}
nav .nav-author {
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  height: 23%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}
nav .nav-author_dot {
  width: 6px;
  height: 6px;
  background-color: #8337ff;
}
nav .nav-author_text {
  font-family: Fungis Regular;
  font-size: 10px;
  transform: rotate(-90deg);
  flex-shrink: 0;
  color: white;
  mix-blend-mode: difference;
}
main {
  overscroll-behavior: none;
  width: 703.7%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  background-color: #1a1b1f;
}
.section {
  width: auto;
  height: 100%;
  display: flex;
}
.section.dark {
  background-color: #1a1b1f;
}
.section.light {
  background-color: #ffffff;
}
.one {
  width: 110vw;
  margin-right: 200px;
}
.hero-container {
  width: 900px;
  display: flex;
  flex-direction: column;
  padding: 3% 0 0 20%;
}
.hero-title {
  text-transform: uppercase;
  text-align: center;
}
.hero-title span {
  font-family: "Fungis Heavy";
  font-size: 2.6em;
  color: white;
}
.hero-title span.graffiti {
  font-family: "Graffiti City";
  color: #8337ff;
  font-size: 3em;
  font-weight: 500;
  line-height: 0.7em;
}
.hero-title .e-svg {
  width: 490px;
}
.hero-statue {
  position: absolute;
  align-self: center;
  bottom: -50px;
  width: 54%;
}
.two {
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 50px;
  padding-left: 50px;
}
.title {
  position: relative;
  display: flex;
  align-self: flex-start;
  margin-bottom: 40px;
}
.title.style1 {
  margin-top: 12%;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}
.title.style1 span {
  color: #ffffff;
  font-family: "Fungis Heavy";
  font-size: 1.3em;
  z-index: 2;
}
.title.style1 span.graffiti {
  color: #8337ff;
  font-family: "Graffiti City";
  position: absolute;
  font-size: 2.6em;
  z-index: 1;
  white-space: nowrap;
}
.title.style2 {
  margin-top: 12%;
  flex-direction: column;
  color: #ffffff;
  position: relative;
  z-index: 2;
}
.title.style2 .pre-title {
  font-family: "Anonymous Regular";
  text-transform: lowercase;
  font-size: 0.7em;
  margin-top: -220px;
  margin-bottom: 80px;
}
.title.style2 span {
  font-family: "Fungis Heavy";
  text-transform: uppercase;
  font-size: 3em;
  width: 500px;
}
.title.style3 {
  flex-direction: column;
  font-family: "Fungis Heavy";
  text-transform: uppercase;
  font-size: 10em;
  align-self: center;
  gap: 20px;
  background-color: #1a1b1f;
  z-index: 3;
  margin-left: -300px;
  padding: 50px 20px;
}
.title.style3 .main {
  color: #ffffff;
  margin-bottom: -35px;
}
.title.style3 .half {
  color: #1a1b1f;
  -webkit-text-stroke: #ffffff 1px;
  height: 70px;
  overflow: hidden;
}
.title.style3 .half.bottom {
  line-height: 0.25em;
}
.catchphrase {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Fungis Heavy";
  font-size: 4em;
  margin-bottom: 40px;
  position: relative;
  white-space: nowrap;
  z-index: 2;
}
.spray-sm-1 {
  width: 200px;
  position: absolute;
  right: -100px;
  top: 200px;
  z-index: 1;
}
.table-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.table-container-item {
  display: flex;
  flex-direction: column;
}
.table-container-item .item-title {
  color: #ffffff;
  font-family: "Anonymous Bold";
}
.table-container-item .item-list {
  margin: 20px 0 0 28px;
  color: #ffffff;
  font-family: "Anonymous Regular";
  list-style: none;
  line-height: 1.3em;
}
.constellation-1 {
  width: 200px;
  position: absolute;
  top: 50px;
}
.constellation-2 {
  width: 245px;
  position: absolute;
  left: 387px;
  top: 205px;
}
.constellation-3 {
  width: 185px;
  position: absolute;
  left: 873px;
  top: 25px;
}
.constellation-4 {
  width: 200px;
  position: absolute;
  left: 1295px;
  top: 500px;
}
.three {
  display: flex;
  flex-direction: row;
}
.section-nb {
  font-family: "Fungis Heavy";
  color: #1a1b1f;
  -webkit-text-stroke: #ffffff 1px;
  font-size: 64em;
  line-height: 130vh;
  justify-self: center;
  height: 100vh;
  z-index: 1;
}
.section-nb.v2 {
  margin-left: -400px;
  color: rgba(255, 255, 255, 0);
}
.question-mark-spray {
  position: absolute;
  width: 150px;
  top: 140px;
  left: 1400px;
  z-index: 1;
}
.statue-row {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 700px;
  bottom: 0;
  z-index: 2;
}
.statue-half-face {
  width: 700px;
  margin-right: -200px;
}
.sec3-content-container {
  width: 750px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  gap: 70px;
  margin-left: 70px;
  position: relative;
  margin-top: 200px;
  z-index: 2;
}
.sec3-content-container .p1 {
  width: 320px;
  text-align: center;
  font-size: 1.2em;
  margin-left: 80px;
  font-family: "Anonymous Regular";
  z-index: 2;
}
.sec3-content-container .p2 {
  width: 640px;
  text-align: center;
  font-size: 1.2em;
  font-family: "Anonymous Regular";
  z-index: 2;
}
.sec3-content-container .p3 {
  position: absolute;
  font-family: "Graffiti City";
  width: 500px;
  text-align: center;
  color: #8337ff;
  font-size: 2.7em;
  z-index: 1;
  top: 20px;
  right: -20px;
}
.face-transition-1 {
  margin-left: -80px;
  margin-right: -1px;
}
.four {
  background-color: #ffffff;
}
.face-shape-outline {
  position: absolute;
  bottom: 0;
  width: 600px;
}
.ccontainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 50px;
  left: 180px;
}
.cspan-1 {
  font-family: "Fungis Heavy";
  color: #1a1b1f;
  font-size: 11em;
  z-index: 2;
}
.cspan-2 {
  font-family: "Graffiti City";
  color: #8337ff;
  font-size: 7em;
  position: absolute;
  right: -50px;
  top: -50px;
  z-index: 1;
}
.cspan-3 {
  font-family: "Fungis Heavy";
  color: #1a1b1f;
  text-transform: lowercase;
  font-size: 3em;
  margin-top: -50px;
  z-index: 2;
}
.sec4-content-container {
  display: flex;
  flex-direction: column;
  width: 530px;
  margin-left: 620px;
  margin-top: 280px;
}
.sec4-content-container h2 {
  font-family: "Fungis Heavy";
  font-size: 5em;
  text-transform: uppercase;
  line-height: 1em;
}
.sec4-content-container .sec4-content {
  font-family: "Anonymous Regular";
}
.face-transition-2 {
  margin-left: -80px;
  margin-right: -1px;
}
.thales-illustration {
  width: 500px;
  margin: auto;
  position: absolute;
  top: 80px;
  left: 820px;
  z-index: 3;
  mix-blend-mode: lighten;
}
.angel-statue {
  margin-left: -250px;
  z-index: 3;
}
.sec5-content-container {
  margin-left: -320px;
  padding-left: 300px;
  background-color: #ffffff;
}
.subtitle {
  font-family: "Fungis Heavy";
  color: #1a1b1f;
}
.six,
.seven {
  width: 100vw;
}
