@font-face {
  font-family: "Fungis Regular";
  src: url("./fonts/FUNGIS/FUNGIS\ Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Fungis Bold";
  src: url("./fonts/FUNGIS/FUNGIS\ Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Fungis Heavy";
  src: url("./fonts/FUNGIS/FUNGIS\ Heavy.ttf") format("truetype");
}
@font-face {
  font-family: "Graffiti City";
  src: url("./fonts/Graffiti-City/Graffiti\ City.otf") format("opentype");
}
@font-face {
  font-family: "Anonymous Regular";
  src: url("./fonts/Anonymous/AnonymousPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Anonymous Bold";
  src: url("./fonts/Anonymous/AnonymousPro-Bold.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
}
body {
  overscroll-behavior: none;
  height: 100vh;
  overflow-x: hidden;
  scrollbar-width: none;
}
nav {
  position: fixed;
  left: 30px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 60px;
  height: 92vh;
  align-self: center;
}
nav .burger-container {
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.3);
}
nav .burger-container-bar {
  width: 50%;
  height: 2px;
  background-color: white;
  mix-blend-mode: difference;
}
nav .nav-title {
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65%;
  background-color: rgba(255, 255, 255, 0.3);
}
nav .nav-title a {
  flex-shrink: 0;
  font-family: Fungis Regular;
  font-size: 24px;
  text-decoration: none;
  color: white;
  transform: rotate(-90deg);
  mix-blend-mode: difference;
}
nav .nav-author {
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  height: 23%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}
nav .nav-author_dot {
  width: 6px;
  height: 6px;
  background-color: #8337ff;
}
nav .nav-author_text {
  font-family: Fungis Regular;
  font-size: 10px;
  transform: rotate(-90deg);
  flex-shrink: 0;
  color: white;
  mix-blend-mode: difference;
}
main {
  overscroll-behavior: none;
  width: 4203.7%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  background-color: #1a1b1f;
}
.section {
  height: 100%;
  display: flex;
  margin-left: -1px;
}
.section.dark {
  background-color: #1a1b1f;
}
.section.light {
  background-color: #ffffff;
}
.one {
  width: 100vw;
  display: flex;
  flex-shrink: 0;
  margin-right: 200px;
}
.hero-container {
  width: 60%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 3%;
  flex-direction: column;
}
.hero-title {
  text-transform: uppercase;
  text-align: center;
}
.hero-title span {
  font-family: "Fungis Heavy";
  font-size: 2.6em;
  color: white;
}
.hero-title span.graffiti {
  font-family: "Graffiti City";
  color: #8337ff;
  font-size: 3em;
  font-weight: 500;
  line-height: 0.7em;
}
.hero-title .e-svg {
  width: 490px;
}
.hero-statue {
  position: absolute;
  align-self: center;
  bottom: -50px;
  width: 45%;
}
.two {
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 50px;
  padding-left: 50px;
}
.title {
  position: relative;
  display: flex;
  align-self: flex-start;
  margin-bottom: 40px;
}
.title.style1 {
  margin-top: 12%;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}
.title.style1 span {
  color: #ffffff;
  font-family: "Fungis Heavy";
  font-size: 1.3em;
  z-index: 2;
}
.title.style1 span.graffiti {
  color: #8337ff;
  font-family: "Graffiti City";
  position: absolute;
  font-size: 2.6em;
  z-index: 1;
  white-space: nowrap;
}
.title.style2 {
  margin-top: 12%;
  flex-direction: column;
  color: #ffffff;
  position: relative;
  z-index: 2;
}
.title.style2 .pre-title {
  font-family: "Anonymous Regular";
  text-transform: lowercase;
  font-size: 0.7em;
  margin-top: -220px;
  margin-bottom: 80px;
}
.title.style2 span {
  font-family: "Fungis Heavy";
  text-transform: uppercase;
  font-size: 3em;
  width: 500px;
}
.title.style3 {
  flex-direction: column;
  font-family: "Fungis Heavy";
  text-transform: uppercase;
  font-size: 10em;
  align-self: center;
  gap: 20px;
  background-color: #1a1b1f;
  z-index: 3;
  margin-left: -300px;
  padding: 50px 20px;
}
.title.style3 .main {
  color: #ffffff;
  margin-bottom: -35px;
}
.title.style3 .half {
  color: #1a1b1f;
  -webkit-text-stroke: #ffffff 1px;
  height: 70px;
  overflow: hidden;
}
.title.style3 .half.bottom {
  line-height: 0.25em;
}
.title.style4 {
  display: flex;
  flex-direction: column;
  margin-left: 500px;
  margin-right: 200px;
  position: relative;
  align-self: center;
}
.title.style4 span {
  font-family: "Fungis Heavy";
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2em;
  width: 300px;
  text-align: center;
  z-index: 2;
}
.title.style4 .nb {
  -webkit-text-stroke: #ffffff 1px;
  color: #1a1b1f;
  font-family: "Fungis Heavy";
  font-size: 7em;
  position: absolute;
  top: -100px;
  z-index: 1;
}
.title.style4 .graffiti {
  font-family: "Graffiti City";
  color: #8337ff;
  position: absolute;
  left: -120px;
  font-size: 2.5em;
  transform: rotate(-10deg);
  top: -10px;
}
.title.style5 {
  position: absolute;
  z-index: 2;
  align-self: center;
  left: 150px;
}
.title.style5 span {
  font-family: "Fungis Heavy";
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12rem;
}
.title.style5 .graffiti {
  font-family: "Graffiti City";
  color: #8337ff;
  font-size: 6em;
  position: absolute;
  top: 100px;
  left: 300px;
  transform: rotate(-5deg);
}
.catchphrase {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Fungis Heavy";
  font-size: 4em;
  margin-bottom: 40px;
  position: relative;
  white-space: nowrap;
  z-index: 2;
}
.spray-sm-1 {
  width: 200px;
  position: absolute;
  right: -100px;
  top: 200px;
  z-index: 1;
}
.table-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.table-container-item {
  display: flex;
  flex-direction: column;
}
.table-container-item .item-title {
  color: #ffffff;
  font-family: "Anonymous Bold";
}
.table-container-item .item-list {
  margin: 20px 0 0 28px;
  color: #ffffff;
  font-family: "Anonymous Regular";
  list-style: none;
  line-height: 1.3em;
}
.constellation-1 {
  width: 200px;
  position: absolute;
  top: 50px;
}
.constellation-2 {
  width: 245px;
  position: absolute;
  left: 387px;
  top: 205px;
}
.constellation-3 {
  width: 185px;
  position: absolute;
  left: 873px;
  top: 25px;
}
.constellation-4 {
  width: 200px;
  position: absolute;
  left: 1295px;
  top: 500px;
}
.three {
  display: flex;
  flex-direction: row;
}
.section-nb {
  font-family: "Fungis Heavy";
  color: #1a1b1f;
  -webkit-text-stroke: #ffffff 1px;
  font-size: 64em;
  line-height: 130vh;
  justify-self: center;
  height: 100vh;
  z-index: 1;
}
.section-nb.v2 {
  margin-left: -400px;
  color: rgba(255, 255, 255, 0);
}
.section-nb.light {
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: #1a1b1f 3px;
  position: absolute;
  left: 200px;
}
.question-mark-spray {
  position: absolute;
  width: 150px;
  top: 140px;
  left: 1400px;
  z-index: 1;
}
.statue-row {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 700px;
  bottom: 0;
  z-index: 2;
}
.statue-half-face {
  width: 700px;
  margin-right: -200px;
}
.sec3-content-container {
  width: 750px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  gap: 70px;
  margin-left: 70px;
  position: relative;
  margin-top: 200px;
  z-index: 2;
}
.sec3-content-container .p1 {
  width: 320px;
  text-align: center;
  font-size: 1.2em;
  margin-left: 80px;
  font-family: "Anonymous Regular";
  z-index: 2;
}
.sec3-content-container .p2 {
  width: 640px;
  text-align: center;
  font-size: 1.2em;
  font-family: "Anonymous Regular";
  z-index: 2;
}
.sec3-content-container .p3 {
  position: absolute;
  font-family: "Graffiti City";
  width: 500px;
  text-align: center;
  color: #8337ff;
  font-size: 2.7em;
  z-index: 1;
  top: 20px;
  right: -20px;
}
.face-transition-1 {
  margin-left: -80px;
  margin-right: -1px;
}
.face-shape-outline {
  position: absolute;
  bottom: 0;
  width: 600px;
}
.ccontainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 50px;
  left: 180px;
}
.cspan-1 {
  font-family: "Fungis Heavy";
  color: #1a1b1f;
  font-size: 11em;
  z-index: 2;
}
.cspan-2 {
  font-family: "Graffiti City";
  color: #8337ff;
  font-size: 7em;
  position: absolute;
  right: -50px;
  top: -50px;
  z-index: 1;
}
.cspan-3 {
  font-family: "Fungis Heavy";
  color: #1a1b1f;
  text-transform: lowercase;
  font-size: 3em;
  margin-top: -50px;
  z-index: 2;
}
.sec4-content-container {
  display: flex;
  flex-direction: column;
  width: 530px;
  margin-left: 620px;
  margin-top: 280px;
}
.sec4-content-container h2 {
  font-family: "Fungis Heavy";
  font-size: 5em;
  text-transform: uppercase;
  line-height: 1em;
}
.sec4-content-container .sec4-content {
  font-family: "Anonymous Regular";
}
.face-transition-2 {
  margin-left: -80px;
  margin-right: -1px;
}
.thales-illustration {
  width: 500px;
  margin: auto;
  position: absolute;
  top: 80px;
  left: 820px;
  z-index: 3;
  mix-blend-mode: lighten;
}
.angel-statue {
  margin-left: -250px;
  z-index: 3;
}
.sec5-content-container {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  padding-left: 300px;
  margin-left: -320px;
}
.part1-content {
  display: flex;
  flex-direction: column;
}
.sec5-title-container {
  position: relative;
  margin-bottom: 70px;
}
.subtitle {
  font-family: "Fungis Heavy";
  text-transform: uppercase;
  font-size: 5em;
  position: relative;
  top: 60px;
  z-index: 2;
}
.subtitle.dark {
  color: #1a1b1f;
}
.subtitle.light {
  color: #ffffff;
}
.subtitle-nb {
  font-family: "Fungis Heavy";
  font-size: 15em;
  position: absolute;
  left: -200px;
  top: -50px;
  z-index: 1;
}
.subtitle-nb.dark {
  color: #ffffff;
  -webkit-text-stroke: #1a1b1f 1px;
}
.subtitle-nb.light {
  color: #1a1b1f;
  -webkit-text-stroke: #ffffff 1px;
}
h3 {
  font-family: "Fungis Heavy";
  position: relative;
  font-size: 1.6em;
  text-transform: uppercase;
  margin-top: 50px;
  width: 380px;
  z-index: 2;
}
h3.dark {
  color: #1a1b1f;
}
h3.light {
  color: #ffffff;
}
.content-row {
  display: flex;
  flex-direction: row;
  position: relative;
}
.content-row .equation {
  width: 300px;
  position: absolute;
  top: 150px;
  right: 0;
}
.paragraph-box {
  width: 500px;
  margin-right: 150px;
  position: relative;
  z-index: 1;
}
.paragraph-box.dark {
  color: #1a1b1f;
}
.paragraph-box.light {
  color: #ffffff;
}
.paragraph-box.part2 {
  align-self: center;
}
.paragraph-box.part3 {
  margin-top: 150px;
}
.paragraph-box.no-title {
  margin-top: 50px;
}
h4 {
  font-family: "Fungis Heavy";
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
p {
  font-family: "Anonymous Regular";
  font-size: 14px;
  line-height: 1.2em;
}
.pythagoras-tape {
  width: 1600px;
  position: absolute;
  bottom: -50px;
  left: 2000px;
}
.crossed-statue {
  margin-left: -100px;
}
.part2-content {
  display: flex;
  flex-direction: row;
  background-color: #1a1b1f;
  position: relative;
  margin-right: 150px;
}
.section-transition {
  height: 100vh;
  width: 500px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #1a1b1f);
  margin-left: -700px;
}
.thales-theorem {
  width: 1150px;
  margin-right: 100px;
}
.background-thales-figure {
  position: absolute;
  z-index: 0;
  left: -300px;
}
.thales-title {
  color: #ffffff;
  font-family: "Fungis Heavy";
  position: absolute;
  align-self: center;
  left: 100px;
  font-size: 2.5em;
  text-transform: uppercase;
}
.thales-rule {
  position: absolute;
  font-family: "Anonymous Regular";
  font-style: italic;
  color: #ffffff;
  width: 500px;
  top: 200px;
  left: 500px;
}
.spray-sm-2 {
  width: 200px;
  position: absolute;
  left: 375px;
  top: 25px;
  z-index: 1;
}
.spray-sm-2.religion {
  left: 275px;
}
.background-pillar {
  position: absolute;
  z-index: 0;
}
.aristotle-statue {
  position: relative;
  z-index: 1;
  width: 500px;
  object-fit: contain;
  align-self: flex-end;
}
.transition-section {
  display: flex;
  position: relative;
}
.gradient-transition-begin {
  height: 100vh;
  width: 800px;
  background: linear-gradient(to right, #1a1b1f 40%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  left: 0;
  z-index: 2;
}
.gradient-transition-end {
  height: 100vh;
  width: 300px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #1a1b1f 100%);
  position: absolute;
  right: 0;
  z-index: 2;
}
.clouds-container {
  position: relative;
}
.clouds-container .cloud.main {
  left: 200px;
  width: 100vw;
}
.clouds-container .cloud.one {
  position: absolute;
  opacity: 0.8;
  width: 300px;
  top: 200px;
  left: -200px;
  z-index: 3;
}
.clouds-container .cloud.two {
  position: absolute;
  opacity: 0.8;
  width: 400px;
  top: 550px;
  z-index: 3;
  left: -250px;
}
.clouds-container .cloud.three {
  position: absolute;
  opacity: 0.8;
  width: 700px;
  left: 0px;
  bottom: -100px;
  z-index: 3;
}
.clouds-container .cloud.four {
  position: absolute;
  opacity: 0.8;
  width: 800px;
  left: 0px;
  top: 0;
  z-index: 3;
}
.clouds-container .cloud.five {
  position: absolute;
  opacity: 0.8;
  width: 900px;
  right: -500px;
  bottom: 0;
  z-index: 3;
  transform: rotate(180deg);
}
.clouds-container .cloud.six {
  position: absolute;
  opacity: 0.8;
  width: 600px;
  right: -300px;
  top: -100px;
  z-index: 3;
  transform: rotate(180deg);
}
.angel-statue-2 {
  position: absolute;
  left: 300px;
  bottom: 0;
  z-index: 3;
  width: 80%;
}
.graffiti-crown {
  position: absolute;
  width: 350px;
  z-index: 3;
  left: 700px;
  top: 200px;
}
.universe-constellation-1 {
  width: 200px;
  position: absolute;
  left: 1700px;
  top: 100px;
}
.universe-constellation-2 {
  width: 300px;
  position: absolute;
  left: 2200px;
  top: 400px;
}
.sec6-intro {
  display: flex;
  width: 200vw;
  flex-direction: column;
  align-self: center;
  margin-left: 500px;
}
.sec6-intro .light-intro {
  font-family: "Anonymous Regular";
  color: #ffffff;
  justify-self: center;
  position: absolute;
  top: 300px;
  z-index: 1;
}
.sec6-intro .light-circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #ffffff;
  box-shadow: #ffffff 0 0 10px 10px;
  margin-left: 150px;
  position: absolute;
  top: 375px;
  z-index: 2;
}
.sec6-intro .light-outro {
  font-family: "Anonymous Regular";
  color: #1a1b1f;
  justify-self: center;
  margin-left: 400px;
  opacity: 0;
  z-index: 3;
  position: absolute;
  top: 375px;
}
.sec6-content-container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 4;
  background-color: #ffffff;
  height: 100vh;
  margin-left: -1400px;
}
.sec6-title-container {
  position: relative;
  margin-bottom: 70px;
  z-index: 4;
  width: 600px;
}
.sec6-title-container.rotated {
  transform: rotate(-90deg);
  top: -400px;
  margin-left: 300px;
}
.solar-system {
  position: absolute;
  top: -70px;
  left: 900px;
  width: 600px;
}
.plato-teaching {
  width: 400px;
  position: relative;
  margin-left: -400px;
  bottom: -300px;
}
.sec6-content-part2 {
  display: flex;
  flex-direction: row;
  background-color: #1a1b1f;
  position: relative;
  top: -236px;
}
.plato-triptych {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin-left: -1px;
}
.plato-triptych .column {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  padding: 75px 35px;
}
.plato-triptych .column.white {
  background-color: #ffffff;
}
.plato-triptych .column.white a {
  word-break: break-all;
  color: #1a1b1f;
}
.plato-triptych .column.purple {
  background-color: #8337ff;
  color: #ffffff;
}
.plato-triptych .column.purple a {
  word-break: break-all;
  color: #ffffff;
}
.plato-triptych .column.black {
  background-color: #1a1b1f;
  color: #8337ff;
}
.plato-triptych .column.black a {
  word-break: break-all;
  color: #8337ff;
}
.grave {
  align-self: flex-end;
  width: 450px;
  margin-right: 300px;
}
.second-content {
  display: flex;
  flex-direction: column;
  position: relative;
}
.second-content .content-row {
  top: 100px;
  margin-left: -350px;
}
.second-content .content-row .no-title {
  margin-top: 80px;
}
.second-content .graffiti {
  font-family: "Graffiti City";
  color: #8337ff;
  width: 550px;
  position: absolute;
  font-size: 2.5em;
  top: -25px;
  left: 300px;
}
.custom {
  left: 1350px;
  top: 250px;
  position: absolute;
}
.column-transition {
  margin-left: -300px;
  z-index: 2;
}
.organisation-container {
  display: flex;
  flex-direction: column;
  width: 1000px;
  gap: 15px;
}
.organisation-container span {
  font-family: "Anonymous Regular";
  color: #ffffff;
  margin: 40px 0;
}
.organisation-container .organisation-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: solid #ffffff 0.5px;
  background-color: #1a1b1f;
  cursor: pointer;
  z-index: 3;
}
.organisation-container .organisation-item .organisation-tab {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.organisation-container .organisation-item .organisation-tab h3 {
  font-family: "Fungis Heavy";
  text-transform: uppercase;
  color: #1a1b1f;
  font-size: 6em;
  line-height: 0.5em;
  -webkit-text-stroke: #ffffff 0.5px;
  pointer-events: none;
}
.organisation-container .organisation-item .organisation-tab .chevron {
  max-width: 70px;
  align-self: center;
  pointer-events: none;
}
.organisation-container .organisation-item .organisation-content {
  display: flex;
  flex-direction: row;
  height: 0px;
  overflow: hidden;
  opacity: 1;
}
.organisation-container .organisation-item .organisation-content span {
  font-family: "Fungis Heavy";
  text-transform: uppercase;
  font-size: 2em;
  width: 30%;
  margin-top: 0;
  padding-top: 75px;
  margin-right: 75px;
  min-height: 400px;
}
.organisation-container .organisation-item .organisation-content p {
  font-family: "Anonymous Regular";
  color: #ffffff;
  width: 50%;
  padding-top: 75px;
  column-count: 2;
  column-gap: 50px;
  min-height: 400px;
}
.plato-republic {
  display: flex;
  flex-direction: row;
  position: relative;
}
.plato-republic .graffiti {
  font-family: "Graffiti City";
  color: #8337ff;
  font-size: 10em;
  transform: rotate(-90deg);
  width: 600px;
  align-self: center;
  line-height: 0.8em;
  text-align: center;
}
.plato-republic h2 {
  font-family: "Fungis Heavy";
  color: #ffffff;
  font-size: 4em;
  text-transform: uppercase;
  position: absolute;
  top: 50px;
  left: 300px;
  width: 601px;
}
.plato-republic .platos-statue {
  position: absolute;
  bottom: 0;
  left: 400px;
  width: 400px;
  z-index: 1;
  opacity: 0.5;
}
.plato-republic .republic-paragraph {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 350px;
  color: #ffffff;
  width: 250px;
  text-align: justify;
  z-index: 2;
}
.plato-republic .dialogue-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
}
.plato-republic .dialogue-title .graffiti {
  transform: rotate(-15deg);
  width: auto;
  height: auto;
  font-size: 7em;
  position: absolute;
  z-index: 2;
  top: -70px;
  left: -20px;
}
.plato-republic .dialogue-title h3 {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.plato-republic .dialogue-title h3 .nb {
  font-size: 25em;
  line-height: 0.6em;
}
.plato-republic .dialogue-title h3 span {
  font-size: 2em;
}
.plato-republic .dialogue-container {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  margin-top: 80px;
  gap: 75px;
}
.plato-republic .dialogue-container .dialogue-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
.plato-republic .dialogue-container .dialogue-item h4 {
  width: 170px;
  font-size: 3em;
  word-wrap: break-word;
  text-align: center;
}
.plato-republic .dialogue-container .dialogue-item p {
  width: 550px;
}
.plato-republic .column-outline {
  z-index: 2;
}
.plato-republic .dialogue-tape {
  position: absolute;
  right: 100px;
  bottom: 0;
  z-index: 1;
  width: 1400px;
}
