@font-face {
  font-family: Fungis Regular;
  src: url("./fonts/FUNGIS/FUNGIS\ Regular.ttf") format("truetype");
}
@font-face {
  font-family: Fungis Bold;
  src: url("./fonts/FUNGIS/FUNGIS\ Bold.ttf") format("truetype");
}
@font-face {
  font-family: Fungis Heavy;
  src: url("./fonts/FUNGIS/FUNGIS\ Heavy.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
}
body {
  overscroll-behavior: none;
  height: 100vh;
}
main {
  overscroll-behavior: none;
  width: 600%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.section {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1f24;
  border: 1px #1e1f24 solid;
}
.section span {
  color: #8337ff;
  font-family: "Fungis Heavy";
  font-size: 10em;
}
